html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: black;
  color: #00b800;
  font-family: "Press Start 2P", cursive;
}
h1 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 200;
  text-transform: capitalize;
}
h4 {
  text-transform: capitalize;
}
textarea {
  width: 90%;
  height: 12em;
  outline: none;
  background-color: #00b800;
  font-family: inherit;
  font-size: 1.3rem;
  padding: 0.1em;
  text-transform: capitalize;
}
.word {
  font-weight: 100;
  font-size: 1rem;
}
button {
  padding: 0.3em 1.6em;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #00b800;
  outline: none;
}
button:hover {
  background-image: linear-gradient(to left, hotpink, gold);
}
textarea:disabled {
  background-color: grey;
}
